<header class="min-h-96 w-screen bg-neutral-light flex flex-col justify-center items-center rounded-md shadow-lg">
  <h1 class="text-6xl">Bakra Qiston pe</h1>
  <p class=" text-2xl text-center px-10 pt-9 paragraph">
    The new app allows livestock buyers and sellers to share their animals with the public. It’s an interactive app that
    allows users to share their opinions about the sacrificial animals. The Qurbani service can deliver goats or sheep
    to your home, sacrifice and deliver meat, or distribute meat among poor communities in the country. Users can also
    book goat, sheep, or cow for Sadaqah purpose 24/7 from every corner of the world.</p>
</header>