/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #606C38;
$secondary-color: #E09F3E;
$tertiary-color: #335C67;
$neutral-color: #FFF3B0;
$neutral-color-light: #F7F7F2;
$neutral-color-dark: #0C0A08;
$neutral-color-dark-mid: #585858;
$neutral-color-mid: #a0a0a0;
$error-color-light: #9E2A2B;
$error-color-dark: #540B0E;
$success-color-light: #90A955;
$success-color-dark: #4F772D;

:root {
	--primary-color: $primary-color;
	--secondary-color: $secondary-color;
	--tertiary-color: $tertiary-color;
	--neutral-color: $neutral-color;
	--neutral-color-light: $neutral-color-light;
	--neutral-color-dark: $neutral-color-dark;
	--neutral-color-mid: $neutral-color-mid;
	--error-color-light: $error-color-light;
	--error-color-dark: $error-color-dark;
	--success-color-light: $success-color-light;
	--success-color-dark: $success-color-dark;
	--neutral-color-dark-mid: $neutral-color-dark-mid;
}


body {
	font-family: "Quattrocento Sans", sans-serif;
	color: $neutral-color-dark;


	h1,
	h2,
	h3,
	h4 {
		font-family: "Quattrocento", serif;
	}
}

.paragraph {
	color: $neutral-color-dark-mid !important;
}
.primary {
	color: $primary-color !important;
}

.secondary {
	color: $secondary-color !important;
}

.tertiary {
	color: $tertiary-color !important;
}

.neutral {
	color: $neutral-color !important;
}

.neutral-light {
	color: $neutral-color-light !important;
}

.neutral-dark {
	color: $neutral-color-dark !important;
}

.neutral-mid {
	color: $neutral-color-mid !important;
}

.error-light {
	color: $error-color-light !important;
}

.error-dark {
	color: $error-color-dark !important;
}

.success-light {
	color: $success-color-light !important;
}

.success-dark {
	color: $success-color-dark !important;
}


.bg-primary {
	background-color: $primary-color !important;
}

.bg-secondary {
	background-color: $secondary-color !important;
}

.bg-tertiary {
	background-color: $tertiary-color !important;
}

.bg-neutral {
	background-color: $neutral-color !important;
}

.bg-neutral-light {
	background-color: $neutral-color-light !important;
}

.bg-neutral-dark {
	background-color: $neutral-color-dark !important;
}

.bg-neutral-mid {
	background-color: $neutral-color-mid !important;
}

.bg-error-light {
	background-color: $error-color-light !important;
}

.bg-error-dark {
	background-color: $error-color-dark !important;
}

.bg-success-light {
	background-color: $success-color-light !important;
}

.bg-success-dark {
	background-color: $success-color-dark !important;
}

@for $i from 1 through 200 {
	$base: 2;
	$value: $base * $i;

	.height-#{$value} {
		font-size: $value + 0px;
	}

	.width-#{$value} {
		width: $value + 0px;
	}

	.min-width-#{$value} {
		min-width: $value + 0px;
	}

	.min-height-#{$value} {
		min-height: $value + 0px;
	}

	.max-width-#{$value} {
		max-width: $value + 0px;
	}

	.max-height-#{$value} {
		max-height: $value + 0px;
	}
}
